<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Trade | GBCE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript">
         <!--
         function should_display() {
         var f_d = document.getElementById("fixed_div");
         if (document.forms[0].stock_type.options[document.forms[0].stock_type.selectedIndex].value == "Preferred") {
         f_d.style.visibility = "visible";
         }
         else {
         f_d.style.visibility = "hidden";
         }
         }
 </script>
</head>
<body>
    <h1>Add a Trade</h1>

    <form method="POST">
        <label for="stock_symbol">Stock Symbol:</label>
        <input type="text" name="stock_symbol" required><br><br>

        <label for="stock_type">Stock Type:</label>
        <select name="stock_type" onchange="should_display()">
            <option value="Common">Common</option>
            <option value="Preferred">Preferred</option>
        </select><br><br>

        <label for="last_dividend">Last Dividend:</label>
        <input type="number" step="0.01" name="last_dividend"><br><br>

        <label for="par_value">Par Value:</label>
        <input type="number" step="0.01" name="par_value" required><br><br>

        <div id="fixed_div" style="visibility: hidden;">
        <label for="fixed_dividend">Fixed Dividend:</label>
        <input type="number" step="0.01" name="fixed_dividend"><br><br>
        </div>

        <button type="submit">Submit Trade</button>
    </form>

    <br>
    <a href="{{ url_for('home') }}">⬅ Back to Home</a>
</body>
</html>
